/*
 * Base structure
 */



*{
	font-family:base_font;
	margin:0px;
	padding:0px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding:5px 20px 5px 30px;
  color:#000;
}
.nav-sidebar > li:first-child {
	margin-top:-5px;
}
.nav-sidebar > li > a:hover {
  background-color: #DBEEC9;
}
.nav-sidebar > li.active > a,
.nav-sidebar > li.active:hover > a {
  background-color: #DBEEC9;
}
.nav-sidebar > .tophead > a {
  margin-top: -19px;
  color: #000;
  border:1px solid #297529;
  padding-left:10px;
  margin-bottom: 5px;
}
.nav-sidebar > .head > a {
  color: #000;
  border:1px solid #297529;
  padding-left:10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.nav-sidebar > .head > a:hover {
  color: #000;
  background-color: #c2dfa4;
  border:1px solid #297529;
}
/*
.nav-sidebar > .link > a {
  color: #000;
  padding-left:30px;
  margin:-5px;
}
.nav-sidebar > .link > a:hover {
  color: #000;
  background-color: #DBEEC9;
  padding-left:30px;
  margin:-5px;
}
*/

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.page-header {
  margin-top: 0;
  border-bottom:none;
  
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  /*border-radius: 50%;*/
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */


@font-face {
    font-family: 'base_font';
    src: url('/fonts/manksans-medium-webfont.eot');
    src: url('/fonts/manksans-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('/fonts/manksans-medium-webfont.woff') format('woff'),
url('/fonts/manksans-medium-webfont.ttf') format('truetype'),
url('/fonts/manksans-medium-webfont.svg#manksans-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.admin_box{
	border:1px solid #297529;
	height:50px;
	border-radius:5px;
	margin:5px;
}

.admin_box_img{
	float:left;	
}

.admin_box_header{
}

.admin_box_text{
	margin:5px;
	margin-left:10px;
	float:left;	
}

.quick_stat_box{
	border:1px solid #297529;
	min-height:300px;
	border-radius:5px;
}

.td{
	vertical-align:top;	
}

.panel{
	margin:5px;
	padding:0px;	
	vertical-align:top;
}

hr{
	width:100%;	
}

.admin_ed_buttons{
	float:right;
}

.admin_button{
	margin-left:5px;
	height:48px;	
}

.textbox{
	width:200px;
	padding:5px;
	margin:5px;	
}

.textarea{
	padding:5px;
	margin:5px;	
}

.admin_form_label{
		
}

/* ----------------------------Sign In ----------------------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ----------------------------Data Input----------------------------------*/


.tab-content{
	margin-top:10px;	
}


#_ListIngredients .form-control { /*Space makes the site style all elements within this class with the ID #_ListIngredients */
 display:inline;
 width:auto; /*Only uses the width of the element*/ 
 margin:0 10px 0 0;
}

#_ListIngredients .input--amount{
    width: 6rem;
}

#_ListIngredients.input--grams{
    width: 9rem;
}

#_ListBase .form-control { /*Space makes the site style all elements within this class with the ID #_ListIngredients */
 display:inline;
 width:auto; /*Only uses the width of the element*/ 
 margin:0 10px 0 0;
}

#_ListBase .input--amount{
    width: 6rem;
}

#_ListBase .input--grams{
    width: 9rem;
}

#_ListProtein .form-control { /*Space makes the site style all elements within this class with the ID #_ListIngredients */
 display:inline;
 width:auto; /*Only uses the width of the element*/ 
 margin:0 10px 0 0;
}

#_ListProtein .input--amount{
    width: 6rem;
}

#_ListProtein .input--grams{
    width: 9rem;
}

#_ListSide .form-control { /*Space makes the site style all elements within this class with the ID #_ListIngredients */
 display:inline;
 width:auto; /*Only uses the width of the element*/ 
 margin:0 10px 0 0;
}

#_ListSide .input--amount{
    width: 6rem;
}

#_ListSide .input--grams{
    width: 9rem;
}

#_ListTopping .form-control { /*Space makes the site style all elements within this class with the ID #_ListIngredients */
 display:inline;
 width:auto; /*Only uses the width of the element*/ 
 margin:0 10px 0 0;
}

#_ListTopping .input--amount{
    width: 6rem;
}

#_ListTopping .input--grams{
    width: 9rem;
}

#_ListIngredients li{
	display:block;	
	margin-bottom:10px;
	padding-bottom:10px;
	// border-bottom:solid 1px #e4e4e4;
	width:80%;
}

#_ListBase li{
  display:block;  
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:solid 1px #e4e4e4;
  width:80%;
}

#_ListProtein li{
  display:block;  
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:solid 1px #e4e4e4;
  width:80%;
}

#_ListSide li{
  display:block;  
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:solid 1px #e4e4e4;
  width:80%;
}

#_ListSide2 li{
  display:block;  
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:solid 1px #e4e4e4;
  width:80%;
}

#_ListTopping li{
  display:block;  
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:solid 1px #e4e4e4;
  width:80%;
}




#btnActionAddBase, #btnActionAddProtein, #btnActionAddSide, #btnActionAddTopping, #btnActionAddIngredient, #btnActionAddMethod, #btnActionAddExtra, #btnActionCalculate {
	margin-bottom:10px;	
}

.sortable-placeholder{
	display:block;	
	margin-bottom:10px;
	padding-bottom:10px;
	border:dotted 1px #999;
	background-color:#e4e4e4;
	height:35px;
	width:80%;	
}


/*Sales Data /////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sales-data__title{
  font-weight: 700;
}

.sales-data__info{
  margin: 5px 0 10px;
}

.input_title{
  text-align: left;
  font-weight: 700;
  padding-left: 1.6rem;
}

.combo_data{
  color: #c1c1c1;
}























.section__white--logo{
    text-align: center;
}

@font-face {
font-family: 'paws_heading';
src: url('../fonts/halohandletter-webfont.eot');
src: url('../fonts/halohandletter-webfont.eot') format('embedded-opentype'), url('.../fonts/halohandletter-webfont.woff') format('woff'), url('../fonts/halohandletter-webfont.ttf') format('truetype'), url('../fonts/halohandletter.ttf') format('truetype'), url('../fonts/halohandletter-webfont.svg') format('svg');
font-weight: normal;
font-style: normal; }
/*$headings: headings;*/

.section__white--homepage{
    font-family: paws_heading;
    color: $main_dark;
    font-size: 2.3rem;
    background-color: #fff;
    padding-top: 9rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom:5rem;
    text-align: center;
    @media #{$medium-up} { 
        padding:5rem;
        font-size: 3.1rem;
    }
    @media #{$large-up} { 
        padding:5rem;
        font-size: 6.2rem;
    }
    @media #{$xlarge-up} { 
        padding:5rem;
        font-size: 8.3rem;
    }
    @media #{$xxlarge-up} { 
        padding:5rem;
        font-size: 10rem;
    }
}

.admin__col{
  width: 10%;
}
















































