/* GLOBAL STYLES
 *****************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webbkit-box-sizing: border-box;
  font-size: 1rem;
  height: auto; } 
  @media only screen and (min-width:481px) {
    html {
      font-size: 0.94rem; } }
  @media only screen and (min-width:768px) {
    html {
      font-size: 0.92rem; } }
  @media only screen and (min-width:961px) {
    html {
      font-size: 0.9rem; } }

body {
  background-color: #F3F6F5;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  height: auto; }

a {
  text-decoration: none; 
}

a:hover, a:focus {
  color: #fff; 
  text-decoration: none; 
}

.columns img {
  width: 100%; }

ul, li {
  list-style: none; }

.row {
  max-width: 84.375rem;
}

.no-display {
  display: none; }

.ui-content {
  padding: 0; }

.content-slot {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: $background; //F3F6F5;
  // height: 100%;
  /*padding-top:2.5rem;*/
  position: relative;
  z-index: 1; }

.main.page.home{
    /*margin-top:-5.5rem;*/
}

.page {
  color: $text;
  height: 100%; 
}

.menu__name{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 18px;
}

.nav__block{
    margin-top: 1rem;
    border-top:1px #343434 solid;
}

.error_message{
  font-size: 80%;
  color: $contrast_dark;
}

.message__alert{
  margin: .6rem;
  color: $contrast_dark;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 1rem;
}

.section__box {
  background-color: #fff;
  /*border: 1px solid #e0e0e0;*/
  padding: 0.5rem;
  margin-bottom: 0.5rem; }

.section__box--content {
  margin: 0.5rem; }

.content-link {
  color: #000;
  text-decoration: none;
  font-weight: bold; 
}

.content-link:hover {
    color: $text;
    border-bottom: 1px solid #ff5531; 
}

.ingredient__link{
    color: $text;
    text-decoration: none;
}

.ingredient__link:hover {
    color: $text;
    border-bottom: 1px solid #ff5531; 
    // font-weight: bold; 
}

.footer__push{
  height: 45rem;
  background-color: $white;
}

@media only screen {
  .image-box {
    margin-bottom: 0.2rem; 
    margin-top: 1rem;
  } 
}

@media only screen and (min-width:481px) {
  .image-box {
    margin-bottom: 0.2rem; 
    margin-top: 1rem;
  } 
}

.content__title {
  text-align: center;
  font-family: base_font;
  padding: 0.5rem;
  font-size:22px;
  /*border-bottom: 1px solid $main_color;*/
  margin-top: 0.5rem;
  /*font-weight: bold;*/
}

.page-header{
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.content__title--login {
  display: inline-block;
  text-align: center;
  margin: 0.5rem 0;
  font-family: $headings; }

.content__title--recipe {
  text-align: center;
  font-family: headings !important; }

.content__title--main--signup {
  text-align: center;
  margin: 0.5rem 0 2.5rem 0;
  font-family: $headings; 
  line-height: 1.6rem;
}

.content__title--link {
  text-decoration: none;
  color: $text; 
  font-weight: bold;
}

.content__title--link:hover{
  color: $text; 
}

.content__title--homepage {
  text-align: center;
  margin-top: 0.5rem; }
  @media only screen and (min-width:768px) {
    .content__title--homepage {
      display: none; } }

.content__title--main--tabs {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem; 
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.content__title--main--tabs:hover{
  color: $text; 
}

.content__title--main--tabs.active {
  background-color: $contrast_dark;
  color: #fff; }

.content-title--sub {
    text-align: center;
    font-family: headings;
    padding: 0.5rem; 
    float: left;
}

.tab__link {
  text-decoration: none;
  color: $white; 
  white-space: nowrap;
  font-family: headings;
}
.tab__link:hover{
  color: $contrast_dark; 
}

.active > .tab__link {
  color: #fff; }

.promo__text {
  padding-top: .3rem;
  font-size: 0.9rem;
  font-style: italic;
}

.column, .columns {
  padding-left:0.625rem;
  padding-right:0.625rem;
}

.tabs-content > .content {
    padding: 0.625rem 0;
}

.tabs {
  margin-bottom: 0 !important;
  margin-left: 0; }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs dd, .tabs .tab-title {
    position: relative;
    margin-bottom: 0 !important;
    list-style: none;
    float: left; }
    .tabs dd > a, .tabs .tab-title > a {
      display: block;
      background-color: #efefef;
      color: #222222;
      padding: 1rem 2rem;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1rem; }
      .tabs dd > a:hover, .tabs .tab-title > a:hover {
        background-color: #e1e1e1; }
    .tabs dd.active a, .tabs .tab-title.active a {
      background-color: white;
      color: #222222; }
  .tabs.radius dd:first-child a, .tabs.radius .tab:first-child a {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .tabs.radius dd:last-child a, .tabs.radius .tab:last-child a {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  .tabs.vertical dd, .tabs.vertical .tab-title {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
  margin-bottom: 1.5rem;
  width: 100%; }
  .tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
  .tabs-content:after {
    clear: both; }
  .tabs-content > .content {
    display: none;
    float: left;
    padding: 0.1rem 0;
    width: 100%; }
    .tabs-content > .content.active {
      display: block;
      float: none; }
    .tabs-content > .content.contained {
      padding: 0.9375rem; }
  .tabs-content.vertical {
    display: block; }
    .tabs-content.vertical > .content {
      padding: 0 0.9375rem; }

@media only screen and (min-width: 40.063em) {
  .tabs.vertical {
    width: 20%;
    max-width: 20%;
    float: left;
    margin: 0 0 1.25rem; }

  .tabs-content.vertical {
    width: 80%;
    max-width: 80%;
    float: left;
    margin-left: -1px;
    padding-left: 1rem; } }
.no-js .tabs-content > .content {
  display: block;
  float: none; }

.package__total{
  text-align: right;
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: $main_dark;
}

.package__total--create-package{
  text-align: right;
  margin-bottom: 1rem;
  color: $main_dark;
}

.content__page--sub{
    padding-top: 3.4rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
}
