//Colors
$background: #fff;//#fafaf1;
$text: #343434; 

$main_color: #fa262b; //#87cdac;
$main_dark: #c21e22; //#49c1b8;
$main_light: #fd5155; //#def0e5; 

// $nav_main
$menu_dark: #292929; //#343434; //87cdac; 
$menu_light: #464646; //#e0e0e0; //#def0e5;


// $contrast_main
$contrast_dark: #ff7c81; //darkred;//#ff5a5a; //ff4040; //E30B5D; ff5a5a
$contrast_light: #fd8d91; //#f78589; //#f8ccb0; //red;//#ff7474; //#f41469; //ff5a5a; //f41469;

$white: #fff;
$error: #fb4d3b;
// $background 


// $menu_light