


.form__submit__button--login {
    padding: 0.8rem;
    background-color: green;
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    color: #fff;
    width: 100%; 
}

.remove{
  background-color: #ff5a5a;
  color: #fff;
  text-align: center;
  max-width: 1.8rem;
  border: none;
  border-radius: 50%;
  height: 1.8rem;
  line-height: 1rem;
}

.add{
    display: inline-block;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: $main_color;
    color: #fff;
    // padding-left: .7rem;
    // padding-right: .7rem;
    }

.public__calc{
    display: inline-block;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: $main_color;
    color: #fff;
    float: right;
    border: none;
}

.public__calc--cancel{
    display: inline-block;
    padding: 0.7rem;
    color: #bababa;
    float: right;
    border: none;
    margin-right: 0.4rem;
    font-size: 12px;
    background-color: $background;
}

.public__calc--cancel:hover{
    background-color: $contrast_light;
    border-radius: 0.4rem;
    color: #fff;
}

.remove:after{
    content:'x';
}

.side__login__header {
    color: #fff;
    margin: 0.5rem; }

.side__login__header--dark {
    color: $text;
    margin: 0.5rem;
    text-align: center; }

.input__name--white {
    color: #fff;
    font-size: 0.8rem; }

.input__name--dark {
    color: $text;
    font-size: 0.8rem; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.form-signin {
    width: 100%;
    margin: auto; }

.form-signin--swipe {
    margin-bottom: 3.2rem;
    margin-top: 1rem; }

.form__input--side--login {
    // width: 100%; 
    /* margin: auto; */
    /* margin-top: 2rem; */
    margin-left: 1rem;
    margin-right: 1rem; 
}

.form__input--side--login--swipe {
  margin-top: 0rem; }

.form-control {
    display: block;
    color: #343434;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: #fff;
    border: 0px;
    margin-bottom: 1rem;
    width:100%;
}

.form__control--no-width {
    display: block;
    color: #343434;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: #fff;
    border: 0px;
    margin-bottom: 1rem;
}

#_PackageRecipes .form__control--no-width {
    display: inline;
    // width: 40%;
    margin-right: 10px;
    border: #e0e0e0 solid 1px; 
    white-space: nowrap;
    height: 3rem;
    padding: 0.5rem;
}

#_PackageRecipes .form-control-amount {
    display: inline;
    // width: 20%;
    margin: 0 10px 0 0;
    border: #e0e0e0 solid 1px;
}

.side__login__button--swipe {
    background-color: $contrast_dark;
    color: #fff;
    padding: 0.3rem;
    border-radius: 5px;
    border: 0px;
    float: right;
    margin-bottom: 2rem;
    // margin-top: 0.5rem;
    margin-right: 1rem;
    width: 30%;
    font-size: 1rem; 
}

.side__login__button {
  background-color: $main_color;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  float: right;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: 0px; }

.side__login__button:hover {
  background-color: $main_light;
}

.side__login__button--swipe:hover {
  background-color: $contrast_light; }

.side__member__button {
    background-color: $contrast_dark;
    color: #fff;
    padding: 0.3rem;
    border-radius: 5px;
    border: 0px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    float: right; }

.side__member__button--login {
  margin-right: 0rem; }

.side__member__button:hover {
  background-color: $contrast_light; }

.total__price{
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-align: right;
}

.form-group{
    min-height: 40px;
    display: block;
    margin-top: 1rem;
}

.form__box{
    margin: 0 1rem;
}

.input__checkbox{
    float: left;
    margin: .7rem;
    /* font-size: 200%; */
    display: inline;
}














.form__title--signup{
    font-family: paws_base_font;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 30px;
    @media #{$large-up} { 
        padding-bottom: 1rem;   
    }

}

.form_field_title{
    margin-top: 0.5rem;

}

.input__text {
  display: block;
  color: #343434;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: #fff;
  border: 0px;
  width: 100%;
  border: 1px solid $main_light;
  margin-right: 20rem;
  margin-bottom: 1rem;
}

.input__text--home {
  display: block;
  color: #343434;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: #fff;
  border: 0px;
  /*width: 100%;*/
  border: 1px solid #e0e0e0;
  margin-right: 20rem;
  margin-bottom: 1rem;
}


.input__text--home::-webkit-input-placeholder { color:$error; opacity: 1; }
.input__text--home::-moz-placeholder { color:$error; opacity: 1;} /* firefox 19+ */
.input__text--home:-ms-input-placeholder { color:$error; opacity: 1;} /* ie */
input:-moz-placeholder { color:$error; opacity: 1;}

input.input__text--home { background: white; opacity: 0.5;  }
input.input__text--home:focus { opacity: 0.9; border: 0; border: 1px solid #e0e0e0;}

.input__text::-webkit-input-placeholder { color:$text; opacity: 0.5; }
.input__text::-moz-placeholder { color:$text; opacity: 0.5;} /* firefox 19+ */
.input__text:-ms-input-placeholder { color:$text; opacity: 0.5;} /* ie */
input:-moz-placeholder { color:$text; opacity:0.5;}

input.input__text { background: white; opacity: 0.5; width:100%; }
input.input__text:focus { opacity: 0.9; border: 0; border: 1px solid #e0e0e0;}
input.input__text--error{
    opacity: 0.9;
}

/* line 28, C:/webroot/lcsnbn/sass/modules/signup */
.form__submit__button {
  padding: 0.8rem;
  background-color: #ff8e5e;
  border: 0;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  color: #fff; 
}

/* line 37, C:/webroot/lcsnbn/sass/modules/signup */
.form__submit__button:hover {
  background-color: #ff5531; 
}

.form-horizontal{
    padding: 0 1rem;

    @media #{$small-only} { 
        padding: 0 0.2rem;
    }

}

.form__image__submit{
    padding:.8rem;
    border:0;
    border-radius:.2rem;
    font-size:1.1rem;
    color:#fff;
    position:absolute;
    bottom:2.5rem;
    right:0;
    background:url(/images/selection/joinw1.png) no-repeat 0 0;
    height:130px;
    width:130px;
    @media #{$small-only}{
        position:static;
        margin-top:3rem;
        background:url(/images/selection/join.png) no-repeat 0 0;
    }
}

.form__image__submit:hover{
    padding:.8rem;
    border:0;
    border-radius:.2rem;
    font-size:1.1rem;
    color:#fff; 
    position:absolute;
    bottom:2.5rem;
    right:0;
    background:url(/images/selection/joinr.png) no-repeat 0 0;
    height:130px;
    width:130px;
    @media #{$small-only}{
        position:static;
        margin-top:3rem;
        background:url(/images/selection/joinr.png) no-repeat 0 0;
    }
}

.form__image__submit:active{
    border:0
}

.form__buttons{
    @media #{$small-only}{
        text-align:center
    }
}



