  

.content__side__icon {
    color: #999;
    border: 1px solid #999;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    margin-top: 0.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
}


@media only screen and (max-width: 480px) {
  .section-box--margin {
    margin-top: 0.5rem; } }

/* line 43, C:/webroot/lcsnbn/sass/modules/recipe-page */
.section__box--fresh-fact {
  background-color: #fff;
  border-top: 1px solid $main_color;
  margin-top: 1rem; }
  @media only screen and (min-width:481px) {
    .section__box--fresh-fact {
      margin-bottom: 0.3rem;
      border-top: 0;
      margin-top: 0rem; } }

/* line 54, C:/webroot/lcsnbn/sass/modules/recipe-page */
.section__box--nutrition-panel {
  background-color: #fff;
  border-top: 1px solid $main_color;
  margin-top: 0rem; }
  @media only screen and (min-width:481px) {
    .section__box--nutrition-panel {
      margin-bottom: 0.3rem;
      margin-top: 1rem; } }

/* line 64, C:/webroot/lcsnbn/sass/modules/recipe-page */
.recipe__icon {
  display: block;
  margin-bottom: -0.7rem;
  margin-top: 0.4rem; 
}

.intolerance__block{
    // height: 12.1rem;
    // background-color: orange;
    // overflow: hidden;
}

section.row.cousin__selection{
    @media #{$medium-up}{
        margin: 0.625rem;
    }
}

.section__summary{
    font-style: italic;
    border: 0;
}

.section__ingredients{
    border: 1px solid $main_light;
}