/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }*/
@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 4, C:/webroot/lcsnbn/sass/modules/recipes */
  .content__summary {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 11, C:/webroot/lcsnbn/sass/modules/recipes */
  .content__summary {
    display: none; } }

@media only screen and (max-width: 767px) { }

@media all and (max-width: 459px) {
  /* line 23, C:/webroot/lcsnbn/sass/modules/recipes */
  .content__tag {
    /*position: absolute;
		right: 0rem;
		margin: 0.1rem;
		padding: 0.3rem;
		font-size: 14px;
		bottom: -3.4rem;*/
    display: none; }
  /* line 32, C:/webroot/lcsnbn/sass/modules/recipes */
  .content__summary {
    display: none; } }


// ??????????????????????????????????????????





    /*Recipe Page*/
/* line 3, C:/webroot/lcsnbn/sass/modules/recipe-page */
/*.logo__image {
  position: absolute;
  bottom: -0.75rem;
  right: 10px;
  width: 4rem;
  color: #fff;
  height: 4rem;
  background: url(/images/site/logo.png) no-repeat 0 0;
  background-size: contain; }
  @media only screen and (min-width:768px) {
    .logo__image {
      bottom: -0.77rem; } }*/

/* line 18, C:/webroot/lcsnbn/sass/modules/recipe-page */
.content__side__icon {
  color: $text;
  border: 1px solid $main_light;
  background-color: #fff;
  text-align: center;
  font-size: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  margin: auto;
  margin-top: 0.5rem;
  line-height: 3.5rem; }
  @media only screen and (min-width:481px) {
    .content__side__icon {
      width: 3.4rem;
      height: 3.4rem; } }

@media only screen and (max-width: 480px) {
  .section-box--margin {
    margin-top: 0.5rem; } }

/* line 43, C:/webroot/lcsnbn/sass/modules/recipe-page */
.section__box--fresh-fact {
  background-color: #fff;
  border-top: 1px solid $main_color;
  margin-top: 1rem; }
  @media only screen and (min-width:481px) {
    .section__box--fresh-fact {
      margin-bottom: 0.3rem;
      border-top: 0;
      margin-top: 0rem; } }

/* line 54, C:/webroot/lcsnbn/sass/modules/recipe-page */
.section__box--nutrition-panel {
  background-color: #fff;
  border-top: 1px solid $main_color;
  margin-top: 0rem; }
  @media only screen and (min-width:481px) {
    .section__box--nutrition-panel {
      margin-bottom: 0.3rem;
      margin-top: 1rem; } }

/* line 64, C:/webroot/lcsnbn/sass/modules/recipe-page */
.recipe__icon {
  display: block;
  margin-bottom: -0.7rem;
  margin-top: 0.4rem; }


.section__menu__heading{
     /*margin-left: 8rem;*/
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 22px;
    text-align: center;
    @media #{$medium-up}{
      text-align: left;
      padding-left: 0.2rem;
    }
    @media #{$xlarge-up}{
      padding-left: 0rem;
    }
}